/target

output.sas # no idea why but the wildcard below does not remove it for me
./*.sas
*.out
.vscode

//Fast downward files
cpp/ 
./pddl/
//python/
scripts/
sas_plan

perf.*
flamegraph.svg
output.sas.reference
output

numeric-fd
experiments/

.devenv*
.direnv

# playground python files
*.py
__pycache__/
others
